In [1]:
# ans 1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

SyntaxError: invalid syntax (241125636.py, line 3)

In [ ]:
#ans 2 

0     5
1    10
2    15
3    20
4    25
5    30
6    35
7    40
8    45
9    50
dtype: int64
``` &#8203;:citation[oaicite:0]{index=0}&#8203;

In [2]:
#ans 3

import pandas as pd

# Creating the data for the DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Creating the Pandas DataFrame
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
#ans 4

A DataFrame in pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a table in a database or an Excel spreadsheet. Each column in a DataFrame can be of a different data type (e.g., integer, float, string, etc.).

Dimensionality:

Series is one-dimensional.
DataFrame is two-dimensional.
Structure:

Series has a single array of data and an associated array of data labels (index).
DataFrame consists of multiple Series objects that share the same index.
Use Case:

Series is used for a single column of data.
DataFrame is used for tabular data with multiple columns.

In [ ]:
#ans 5

Pandas provides a variety of functions to manipulate data in a DataFrame. Some of the most commonly used functions include:

head() and tail(): View the first or last n rows of the DataFrame.
describe(): Generate descriptive statistics of the DataFrame.
info(): Print a concise summary of the DataFrame.
sort_values(): Sort the DataFrame by the values of one or more columns.
groupby(): Group the DataFrame using a mapper or by a Series of columns.
apply(): Apply a function along an axis of the DataFrame.
drop(): Drop specified labels from rows or columns.
loc[] and iloc[]: Access a group of rows and columns by labels or by integer position.
merge(): Merge DataFrame objects by performing a database-style join operation.
pivot_table(): Create a spreadsheet-style pivot table as a DataFrame.




Example 

import pandas as pd

# Creating the DataFrame
data = {
    'Region': ['North', 'South', 'East', 'West', 'North', 'South', 'East', 'West'],
    'Sales': [150, 200, 300, 400, 120, 220, 330, 420],
    'Rep': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace', 'Hannah']
}

df = pd.DataFrame(data)

# Grouping by 'Region' and calculating the mean sales for each region
average_sales = df.groupby('Region')['Sales'].mean()

print("Average Sales by Region:")
print(average_sales)

In [ ]:
#ans 6

In pandas, both Series and DataFrame are mutable, meaning you can change their values after they are created. However, the Panel object is not mutable. Hereâ€™s a brief explanation:

Series:
A one-dimensional array-like object.
Mutable: You can change values in a Series after it is created.
DataFrame:
A two-dimensional, size-mutable, and potentially heterogeneous tabular data structure.
Mutable: You can change values, add or drop columns and rows in a DataFrame after it is created.
Panel:
A three-dimensional container of data.
Deprecated in recent versions of pandas and is not commonly used anymore. In older versions where it existed, it was mutable, but since it is deprecated, it is generally not recommended to use it.

In [3]:
#ans 7

import pandas as pd

# Creating the Series
names = pd.Series(['Alice', 'Bob', 'Claire'])
ages = pd.Series([25, 30, 27])
genders = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female